# Directories
logs/
__pycache__/

# Specific Files
a.out
gen_pylist.py
main.cc
main.py
main.out
python.py
rotate.py
script.sh
spelling.sh
word_check.py
.DS_Store

# Zip files

# Compiled binaries
*.out

# Logs
*.log

# Environment file (if applicable)
.env
