<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk&family=Merriweather+Sans&family=Spline+Sans+Mono:wght@500&display=swap" rel="stylesheet">

    <title>Spelling Bee</title>
</head>
<body>
    <h1>Spelling Bee Helper</h1>
    <div class="container">
        <form id="form" action="/submit" method="post">
            <svg name="a" id="svgA" viewBox="0 0 200 200" version="1.1">
                <polygon style="fill:#FAFAD2;stroke:#210000;stroke-width:2.5px" points="183.138438763306,52.0 183.138438763306,148.0 100.0,196.0 16.861561236693902,148.0 16.861561236693902,52.0 100.0,4.0"/>
            </svg>
            <input type="text" name="a" id="tr" maxlength="1" onkeyup="moveToNextField(event, 'r')" onfocus="focusSVG('svgA')" onblur="blurSVG('svgA')" required autofocus></input>
            <svg name="b" id="svgB" viewBox="0 0 200 200" version="1.1">
                <polygon style="fill:#FAFAD2;stroke:#210000;stroke-width:2.5px" points="183.138438763306,52.0 183.138438763306,148.0 100.0,196.0 16.861561236693902,148.0 16.861561236693902,52.0 100.0,4.0"/>
            </svg>
            <input type="text" name="b" id="r" maxlength="1" onkeyup="moveToNextField(event, 'br')" onfocus="focusSVG('svgB')" onblur="blurSVG('svgB')" required>
            <svg name="c" id="svgC" viewBox="0 0 200 200" version="1.1">
                <polygon style="fill:#FAFAD2;stroke:#210000;stroke-width:2.5px" points="183.138438763306,52.0 183.138438763306,148.0 100.0,196.0 16.861561236693902,148.0 16.861561236693902,52.0 100.0,4.0"/>
            </svg>
            <input type="text" name="c" id="br" maxlength="1" onkeyup="moveToNextField(event, 'bl')" onfocus="focusSVG('svgC')" onblur="blurSVG('svgC')" required>
            <svg name="d" id="svgD" viewBox="0 0 200 200" version="1.1">
                <polygon style="fill:#FAFAD2;stroke:#210000;stroke-width:2.5px" points="183.138438763306,52.0 183.138438763306,148.0 100.0,196.0 16.861561236693902,148.0 16.861561236693902,52.0 100.0,4.0"/>
            </svg>
            <input type="text" name="d" id="bl" maxlength="1" onkeyup="moveToNextField(event, 'l')" onfocus="focusSVG('svgD')" onblur="blurSVG('svgD')" required>
            <svg name="e" id="svgE" viewBox="0 0 200 200" version="1.1">
                <polygon style="fill:#FAFAD2;stroke:#210000;stroke-width:2.5px" points="183.138438763306,52.0 183.138438763306,148.0 100.0,196.0 16.861561236693902,148.0 16.861561236693902,52.0 100.0,4.0"/>
            </svg>
            <input type="text" name="e" id="l" maxlength="1" onkeyup="moveToNextField(event, 'tl')" onfocus="focusSVG('svgE')" onblur="blurSVG('svgE')" required>
            <svg name="f" id="svgF" viewBox="0 0 200 200" version="1.1">
                <polygon style="fill:#FAFAD2;stroke:#210000;stroke-width:2.5px" points="183.138438763306,52.0 183.138438763306,148.0 100.0,196.0 16.861561236693902,148.0 16.861561236693902,52.0 100.0,4.0"/>
            </svg>
            <input type="text" name="f" id="tl"maxlength="1" onkeyup="moveToNextField(event, 'tr')" onfocus="focusSVG('svgF')" onblur="blurSVG('svgF')" required>
            <svg name="i" id="svgI" viewBox="0 0 200 200" version="1.1" style="filter: url(#inset-shadow);">
                <polygon style="fill:#3D270A;stroke:#210000;stroke-width:2.5px" points="183.138438763306,52.0 183.138438763306,148.0 100.0,196.0 16.861561236693902,148.0 16.861561236693902,52.0 100.0,4.0"/>
            </svg>
            <input type="text" name="i" id="c" maxlength="1" onkeyup="moveToNextField(event, 'submit')" onfocus="focusSVG('svgI')" onblur="blurSVG('svgI')" required>
            <input type="submit" id="submit" value="Submit" class="submit-button">
        </form>
    </div>
    <div class="output" id="output">
        <div class="header">
            <div id="letters" class="letters">
                {{ letters }}
            </div>
            <div id="center" class="center">
                {{ center }}
            </div>
        </div>
        <div class="columns">
            <div class="left_column">
                <div id="valid_english_container" class="valid_english_container">
                    <img id="valid_english_arrow" src="{{ url_for('static', filename='arrow.png') }}" alt="My Image" style="transform: rotate(0deg);"  onclick="toggleList('valid_english')"/>
                    <div class="left_header" onclick="toggleList('valid_english')">Solutions</div>
                    <ul id="valid_english" style="display: block;">
                            {{ valid_english_list | safe }}
                    </ul>
                </div>
            </div>
            <div class="right_column">
                <div id="all_words_container" class="all_words_container">
                    <img id="all_words_arrow" src="{{ url_for('static', filename='arrow.png') }}" alt="My Image" style="transform: rotate(-90deg);"  onclick="toggleList('all_words')"/>
                    <div class="right_header" onclick="toggleList('all_words')">All Words</div>
                    <ul id="all_words" style="display: none;">
                        {{ all_words_list | safe }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js">
        $(document).ready(function() {
            $('form').submit(function(event) {
                event.preventDefault();  // Prevent the form from submitting normally
                
                $.ajax({
                    type: 'POST',
                    url: '/submit',
                    data: $(this).serialize(),
                    success: function(data) {
                        // Update the 'output' div with the returned data
                        $('#output').html(data);
                    }
                });
            });
        });
    </script>
    <script>
        function moveToNextField(event, nextFieldID) {
            if (event.target.value.length === event.target.maxLength) {
                document.getElementById(nextFieldID).focus();
            }
            const outsideFields = ['tl', 'tr', 'bl', 'br', 'l', 'r'];
            const allOutsideFilled = outsideFields.every(field => {
                return document.getElementById(field).value.length === document.getElementById(field).maxLength;
            });

            if (allOutsideFilled) {
                document.getElementById('c').focus();
            }
        }
    </script>
    <script>
        function toggleList(listId) {
            var list = document.getElementById(listId);
            var arrow = document.getElementById(listId + "_arrow");
            if (list.style.display == "none") {
                list.style.display = "block";
                arrow.style.transform = "rotate(0deg)";
            } else {
                list.style.display = "none";
                arrow.style.transform = "rotate(-90deg)";

            }
        }
    </script>
    <script>
        function focusSVG(id) {
            var svg = document.getElementById(id);
            svg.setAttribute('filter', 'url(#inset-shadow)');
        }
    </script>
    <script>
        function blurSVG(id) {
            var svg = document.getElementById(id);
            svg.removeAttribute('filter');
        }
    </script>
</body>
</html>
