<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Hexagon Inputs</title>
</head>
<body>
    <div class="container">
        <div class="hexagon-container">
            <input type="text" name="a" maxlength="1" required>
            <input type="text" name="b" maxlength="1" required>
            <input type="text" name="c" maxlength="1" required>
            <input type="text" name="d" maxlength="1" required>
            <input type="text" name="e" maxlength="1" required>
            <input type="text" name="f" maxlength="1" required>
            <input type="text" name="i" maxlength="1" required>

        </div>
        <div class="submit-container">
            <input type="submit" value="Submit" class="submit-button">
        </div>
    </div>
</body>
</html>
